.layout-head {
    position:absolute;
    top:50px;
    left:0px;
    width: 320px;
    height:350px;
    box-sizing:border-box;
    border-right:1px solid #d9d9d9;
}

h1.head {
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    font-size:12px;
    height:30px;
    box-sizing:border-box;
    border-top:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;
    background-color:#f4f4f4;
    margin:0px;
    padding:5px;
}

.layout-head .content {
    display:block;
    position:absolute;
    left:0px;
    top:30px;
    right:-1px;
    border:0px;
    bottom:0px;
    padding:0px;
}

.layout-head .content > .input-div {
    height:100%;
    box-sizing:border-box;
    margin:0px;
    border:0px;
    border-radius:0px;
}

.layout-head .content > .input-div select {
    border:0px;
    width:100%;
    height:100%;
    outline:none;
}

.layout-head .content > .input-div select {
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-top:10px;
}

#query-list {
    position:absolute;
    top:50px;
    left:320px;
    right:0px;
    height:350px;
    padding:10px 20px;
    box-sizing:border-box;
}

#query-list .content {
    display:block;
    position:absolute;
    left:0px;
    top:30px;
    right:0px;
    border:0px;
    padding:10px;
    bottom:0px;
}

#query-list .content .input-div {
    position:absolute;
    left:110px;
    right: 120px;
}

#query-list .content .input-div > input{
    width:100%;
}

#data-type {
    position:absolute;
    left:10px;
    width:90px;
}

#run {
    position:absolute;
    top:10px;
    right:10px;
    width:100px;
    text-align:center;
}

#parameter-list {
    position:absolute;
    top:50px;
    left:0px;
    right:0px;
    bottom: 0px;
    padding:0px;
    box-sizing:border-box;
    overflow:auto;
}

#parameter-list table {
    /*width: auto !important;*/
}

#parameter-list input[type=text] {
    width:100%;
}

#parameter-list select {
    font-size:11px;
    width:100%;
}

#parameter-list select[multiple] {
    height:50px;
    width:100%;
}

/*
#parameter-list.parameter-none {
	display:none;
}
*/

#data-format ul {
    list-style:none;
    padding-left:20px;
}

.layout-body {
    position:absolute;
    top:400px;
    left:0px;
    right:0px;
    bottom:0px;
    box-sizing:border-box;
}

/*
.layout-body.parameter-none {
	top:140px;
}
*/

#tab_contents_1 {
    position:relative;
    width:100%;
    height:100%;
    box-sizing:border-box;
    padding:0px;
    -webkit-user-select:none;
    user-select:none;
}

#tab_contents_1 h1 {
    user-select:none;
    -webkit-user-select:none;
}

#tab_contents_1 > #data-format {
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    width:320px;
    border-right:1px solid #d9d9d9;
    box-sizing:border-box;
}

#data-format .content {
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    top:30px;
    overflow:auto;
    padding:10px;
    background-color:#f9f9f9;
}

#data-format pre {
    -webkit-user-select: initial;
    user-select: initial;
}

#tab_contents_1 > #data-table {
    position:absolute;
    top:0px;
    right:0px;
    left:320px;
    bottom:0px;
}

#query-view {
    width:100%;
    position:relative;
}

#query-view #view-query-btn {
    position:absolute;
    top:0px;
    left:0px;
}

#query-view .query-content {
    position:absolute;
    left:150px;
    right:0px;
    top:0px;
}

#data-table .content {
    position:absolute;
    left:14px;
    right:0px;
    bottom:0px;
    top:30px;
    overflow:auto;
}

#data-table table {
    /*width:auto !important; */
}

#data-table table th {
    border-top:0px;
    text-overflow: clip;
}

#data-table table td {
    -webkit-user-select: initial;
    user-select: initial;
}


#contents #splitter {
    position:absolute;
    background-color:#f4f4f4;
    top:30px;
    left:320px;
    width:14px;
    bottom:0px;
    z-index:999;
    cursor:col-resize;
    text-align:center;
    border-right:1px solid #d9d9d9;
    box-sizing:border-box;
}

#contents #splitter i {
    position:absolute;
    top:50%;
    margin-top:-7px;
    width:14px;
    height:14px;
    left:0px;

}
.alert {
    padding:5px;
    color:red;
}